::-webkit-scrollbar {
    height: 0px;
    width: 5px;
    background-color: transparent;
    border-radius: none;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: greenyellow;
    border-radius: 20%;
   
  }
  
  